<h1>The Secret Message</h1>
<a href="/">Take me back</a>
<br>

<article>
  <h3><%= @message.title %></h3>
  <p><%= @message.body %></p>
</article>

<form action="/messages/<%= @message.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete this!">
</form>
